$background: #fafafa;

$white: #ffffff;

$gray-100: #f2f2f2;
$gray-200: #e0e0e0;
$gray-600: #bdbdbd;
$gray-700: #828282;
$gray-800: #4f4f4f;
$gray-900: #333333;

$orange-500: #fe8824;
$orange-700: #ff5400;
$turquoise-500: #00a3c4;
$turquoise-700: #0077b6;
