@import "./mixinsThemes";

.html {
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

        background-color: $background;
        color: $gray-900;
        -webkit-font-smoothing: antialiased;
    }
}

